/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;700&display=swap");

/* scroll */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

/* global styling */
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #f0ebce;
  margin: auto;
  position: relative;
}

/* skip to main content */
.skip-link {
  all: unset;
  border: 2px solid #aa8b56;
  position: absolute;
  z-index: 9999;
  text-decoration: none;
  background-color: #f0ebce;
  color: #395144;
  padding: 10px 40px;
  top: 12px;
  transform: translateX(-110%);
  transition: 0.3s;
}

.skip-link:focus {
  transition: 0.3s;
  transform: translateX(0);
}

/* page */
.page {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  row-gap: 30px;
}

/* reusable */
.button-primary {
  all: unset;
  cursor: pointer;
  width: fit-content;
  min-width: 44px;
  height: 44px;
  padding: 0px 15px;
  background-color: #395144;
  text-align: center;
  color: #f0ebce;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-primary:focus {
  outline: 2px solid black;
}

.input-text-primary {
  border: none;
  background-color: white;
  padding: 10px 20px;
  width: 50%;
}

.input-text-primary:focus {
  outline: 2px solid black;
}

.fa-bars {
  font-size: 44px;
  color: #f0ebce;
}

.like {
  border: none;
  cursor: pointer;
  background-color: rgb(255, 210, 205);
  color: rgb(255, 95, 78);
  width: 64px;
  height: 64px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.151);
  border-radius: 50%;
  font-size: 28px;
}

#favorite-button-container {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 999;
}

.back-to-top-container {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.back-to-top {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.151);
  border: none;
  background-color: #395144;
  color: #f0ebce;
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 28px;
  border-radius: 50%;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  background-color: #395144;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.navbar__inner {
  margin: auto;
  max-width: 1200px;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: fit-content;
  display: flex;
  column-gap: 10px;
  align-items: center;
  text-decoration: none;
}

.logo__img {
  width: 32px;
}

.logo__text {
  font-size: 28px;
  color: #f0ebce;
}

.navbar__links {
  display: flex;
  visibility: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  background-color: #aa8b56;
  width: 100vw;
  height: 80vh;
  left: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in;
}

.navbar__links.active {
  visibility: initial;
  transform: translateX(0);
  transition: 0.3s;
}

.navbar__link {
  font-size: 32px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #f0ebce;
  color: #f0ebce;
  text-decoration: none;
  font-weight: lighter;
}

.navbar__link.active {
  font-weight: bolder;
}

.hamburger {
  all: unset;
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger:focus {
  border: 1px solid blue;
  outline: white 1px solid;
}

.hamburger__icons {
  transform: scale(2);
  color: #f0ebce;
}

/* hero */
.hero {
  height: 60vh;
  width: 100%;
  height: 300px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* main content */
.page-title {
  text-align: center;
  position: relative;
  margin-inline: auto;
  width: fit-content;
}

.restaurant-list {
  margin: auto;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  padding: 0px 100px;
  flex-wrap: wrap;
  row-gap: 50px;
  max-width: 1200px;
}

/* card */
.card {
  width: 300px;
  padding-bottom: 10px;
  background-color: white;
  position: relative;
}

.card-title {
  height: 60px;
  font-size: 1.6rem;
}

.card-img {
  width: 100%;
  height: 200px;
  background-size: contain;
  display: block;
}

.card__body {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card-desc {
  font-weight: lighter;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.card-rating {
  color: #8f8f8f;
  font-weight: lighter;
  font-size: 16px;
}

.card-city {
  position: absolute;
  left: 0;
  top: 20px;
  background-color: #395144;
  color: #f0ebce;
  padding: 10px 20px;
}

.card__action {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

/* home */
.home-title {
  margin-top: 25px;
}

/* search form */
.search-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  column-gap: 20px;
}

.favorite-page-title {
  margin-top: 20px;
}

search-bar {
  width: 100%;
}

.search-results {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

/* detail */
.inner {
  background-color: white;
  width: 92%;
  margin-top: 100px;
  margin-inline: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.restaurant-detail-header {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}

.restaurant-detail-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.restaurant-detail-info-title {
  font-size: 1.2rem;
}

.restaurant-categories {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.restaurant-categories-list {
  display: flex;
  list-style: none;
  column-gap: 10px;
}

.restaurant-category {
  padding: 5px 10px;
  background-color: #395144;
  color: #f0ebce;
}

.restaurant-detail__img {
  width: 100%;
}

.restaurant-detail-info p {
  display: inline-block;
}

.restaurant-menu > ul > li {
  list-style-position: inside;
  list-style-type: decimal;
}

.restaurant-menu__wrapper {
  display: flex;
  column-gap: 100px;
}

/* reviews */
.title-center {
  text-align: center;
}

.review {
  background-color: #f0ebce;
  padding: 20px;
  position: relative;
}

.review-date {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #8f8f8f;
  font-size: 12px;
}

.new-review-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.input-span {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 10px;
}

#input-name, #input-review {
  width: 100%;
  padding: 22px 10px;
  font-family: inherit;
}

#input-review {
  height: 300px;
  resize: none;
}

/* footer */
.footer {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  background-color: #395144;
  padding: 10px 0px;
  color: #f0ebce;
}

