@media screen and (max-width: 850px) {
  /* main content */
  .restaurant-list {
    padding: 0px;
  }
}

@media screen and (min-width: 768px) {
  /* navbar */
  .navbar__links {
    position: static;
    visibility: initial;
    flex-direction: row;
    transform: translateX(0);
    height: fit-content;
    background-color: transparent;
    width: fit-content;
    column-gap: 50px;
  }

  .navbar__inner {
    align-items: center;
  }
  .navbar__link {
    width: max-content;
    height: fit-content;
    border: none;
    font-size: inherit;
  }

  .navbar__link:hover {
    text-decoration: underline;
  }

  .hamburger {
    display: none;
  }

  .restaurant-detail-header {
    flex-direction: row;
    column-gap: 20px;
  }

  .restaurant-detail__img {
    width: 50%;
  }

  .input-span {
    flex-direction: row;
  }

  #input-name, #input-review {
    width: 80%;
  }

  .restaurant-detail-header {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  /* hero */
  .hero {
    min-width: 1000px;
  }
}
